.success-snackbar {
  background: #2aaf49;
  color: white;
  font-weight: bold;
}

.error-snackbar {
  background: #e24d53;
  color: white;
  font-weight: bold;
}

.warning-snackbar {
  background-color: orange;
  color: white;
  font-weight: bold;
}

.info-snackbar {
  background: #00b1ea;
  color: white;
  font-weight: bold;
}
